.upload-card {
  width: 300px;
  height: 250px;
  border: 2px dashed #ccc;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: transform 0.3s ease;
  box-shadow: transform 0.3s ease;
}

.upload-card:hover {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-4px);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-text {
  font-size: 16px;
  color: #555;
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  opacity: 0;
  transition: 0.3s;
}

.upload-card:hover .overlay {
  opacity: 1;
}

.icon-btn {
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.icon-btn:hover {
  background: #eee;
}
